*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

body,
header,
main,
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


header div {
  display: flex;
}

header {
  background-color: black;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

header div{
  background-color: rgba(74,74,74,255);
  padding: 3px 7px;
  margin: 5px;
  border-radius: 5px;
}

header div:nth-of-type(2){
  margin-right: 15px;
}

main {
  background-color: bisque;     /* placeholder */
  flex-grow: 1;
}

.big-container {      /* non riesco a centrarlo senza che cambi dimensioni */
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 0.9rem 0.5rem;
  justify-content: center;
  margin: 25px;
}

.container {
  width: 250px;
  height: 175px;
}

.container > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.voice-activation {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  padding: 5px 7px;
}

footer {
  height: 80px;      /* altezza temporanea? */
  background-color: rgba(34,34,34,255);
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  display: flex;
  gap: 15px;
}

.footer-container > div {
  display: flex;
  gap: 10px;
}

footer img {
  display: block;
}

.footer-left-container {
  margin-left: 15px;
}

.footer-middle-container {
  display: flex;
  gap: 30px;
  flex-grow: 1;
  justify-content: center;
}

.icon-text {
  text-align: center;
}

/* .icon-text span {    come aumentare la spaziatura superiore?
  
} */

.options {
  align-self: center;
}

.btn-footer-container {
  height: 100%;
}

button{
  border: none;
  height: 100%;
  align-self: center;
  padding: 25px;
}

button a {
  text-decoration: none;
}

                  /* classi di stile */
/* classi di colore testo */

.white {
  color: white;
}

.red{
  color: red;
}

.bg-grey {
  background-color: rgba(74,74,74,255);
}

/* classi di stile testo */